#logo{
	width: 600px;
}

.parkImage{
	display: inline-block;
	
}
.parkImage img{
	border-color: white;
	border-width: 10px;
	border-style: solid;
	
}

.tempy{
	background-color: lightgray;
}
body{
	background-color: #ccff99;
}

.describe{
	display: inline-block;
	
}


.park{
	background-color: white;
	padding: 5px;
	list-style-type: none;
	display: inline-block;
	margin: 10px;
	width: 30%;
	vertical-align: top;
}
li img{
	width: 100%;
}

table, th, td {
	font-weight: normal;
    border: 1px solid black;
}

table, th{
	font-weight: bold;
}

.today{
	display: inline-block;
	vertical-align: top;
	margin: 20px;
}

.bigPicture{
	display: inline-block;
}

.bigPicture img{
width: 150px;
border-style: outset;
}

td {
	width: 10em;
	text-align: center;
	text-style: bold;
}
th{
	width: 5em;
	
}

table {
	border-color: brown;
}

.weatherDisplay img{
	width: 100%;
}
.advice{
	display: inline-block;
	vertical-align: top;
	width: 30%;

}


